<!DOCTYPW html>
<html>
    <head>
        <title>
            BulkPost
        </title>
        <-- use js here 
        <script></script>
        -->
    </head>
    <body>
        <div>
            <h1 id ="BulkPost-h1">
                BulkPost
            </h1>
            <p>
               Welcom to BulkPost. BulkPost is a social meadia managing tool. 
            </p>
            <form action="Post" class="background">
                <input type="text" id="username">what is your name</input>
                <input type="email" id ="email">what is your email</input>
                <input type="dropdown" id ="dropdown">what is your location</input>
                <input type="dropdown" id ="gender">what is your gender</input>
                <input type="dropdown" id ="comapany/organization">what is your company/organization</input>
                <input type="dropdown" id ="liconces">Use Free/Preemium version</input>
            </form>
            <div>
                <p>
                    <h2>
                        You can use this software in a free and open source maner.
                    </h2>
                    <h3>  
                        Remimber Open Source is Free as in speach,not bear.
                    </h3>
                    This Software is funded my the use of cround funding and optional browser minning of the electron crytocurncy./n I you chose                    to mine, you get no adds for 1 hour id you mine for 20 minuts. You will reseave part of the minning rewards.
                </p>
                <form action="Post">
                    <input type="text" id="crytowallet">what is your electron address</input>
                    <input type="checkbox" id ="minig-on-off">want to mine some</input>
                </form>
            </div> 
        </div>
    </body>
</html>
