<!DOCTYPW html>    
<html>
    <head>
        <title>
         
            BulkPost
        </title>
    </head>
    <body>
        <div>
            <h1 id = "BulkPost-h1">
                BulkPost
            </h1>
            <p>
               Welcom to BulkPost. BulkPost is a social meadia managing tool. 
            </p>
            <form action="Post">
                <input type="text" id="username">what is your name</input>
                <input type="email" id ="email">what is your email</input>
            </form>
        </div>
    </body>
</html>
